_site/
.env
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.gitattributes
project.geany
# collections are generated with Drone CI/CD build
collections/_products/*.md
collections/_posts/*.md
collections/_drafts/*.md
# json data is generated with Drone CI/CD build
_data/authors/*.json
_data/posts/*.json
_data/products/*.json
# image data is generated with Drone CI/CD build
uploads/*
docs/*
Gemfile.lock
