{% for item in site.data.posts.index.data %}
  <li>
    {{ item.id }} {{ item.attributes.title }} {{ item.attributes.updatedAt | date: "%Y" }}
    <img src="{{site.url}}/uploads/2021/{{ item.attributes.image.data.attributes.name }}" />
    {{ item.attributes.image.data.attributes.placeholder}}
    {{ item.attributes.image.data.attributes.name }}
    {% assign foo = {{ item.attributes.image.data.attributes.formats.thumbnail.url}} %}
    <!-- {{ item.attributes.image.data.attributes.formats.thumbnail.url   }} -->
    {{ item.attributes.image.data.attributes.formats.thumbnail.url | strip }}

    {% assign all_image_urls = item.attributes.image.data.attributes | map: "url" %}

    {% for item in all_image_urls %}
      {{ item | mirror_api }}
    {% endfor %}

  </li>
{% endfor %}

<!-- piping information into mirror_api for download filter -->
{{ site.data.posts.index.data.attributes.image.data.attributes | map: "url" }}
