<!-- One -->
<div class="wave-container">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#7cafa3" fill-opacity="1" d="M0,288L80,288C160,288,320,288,480,266.7C640,245,800,203,960,208C1120,213,1280,267,1360,293.3L1440,320L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>
  <section id="one" class="wrapper style2 special">
    <div class="inner">
      <header class="major">
        <h2>JAMstack Architecture</h2>
        <p>Welcome to the Future of Web Development</p>
      </header>
      <section class="spotlights">
        <section>
          <span class="image"><img src="assets/images/design.webp" alt="Web Architecture and Design" /></span>
          <h4>Design</h4>
          <p>Your website will be unique & visually stunning – it will be fully responsive, mobile friendly, search engine optimized & accessible. </p>
        </section>
        <section>
          <span class="image"><img src="assets/images/programming.webp" alt="Web Programming and Coding" /></span>
          <h4>Develop</h4>
          <p>Your webstack architecture will be powerful, fast & built with the future in mind. We provide a seamless developer experience & content driven focus. </p>
        </section>
      </section>
    </div>
  </section>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#7cafa3" fill-opacity="1" d="M0,128L120,106.7C240,85,480,43,720,69.3C960,96,1200,192,1320,240L1440,288L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path></svg>
</div>

<!-- Three -->
<section id="three" class="wrapper style1 special">
  <div class="inner">
    <header class="major">
      <h2>Why JAMstack?</h2>
      <p>Faster, Straightforward and a more Secure Architecture</p>
    </header>
    <section class="features">
      <section>
        <span class="fas fa-bolt fa-3x" aria-hidden="true"></span>
        <h4>Performance</h4>
        <p>Super fast loading times for Search Engine Optimization (SEO) and the viewers pleasure.
          Higher rankings on Search Engine Results Page (SERP). Less talk, more bang for your buck. </p>
      </section>
      <section>
        <span class="fas fa-expand fa-3x" aria-hidden="true"></span>
        <h4>Scalable</h4>
        <p>Less complexity means easier scalability and more money saved. Ease of use for administrators, developers and editors. The future is highly distributed.</p>
      </section>
      <section>
        <span class="fas fa-shield-alt fa-3x" aria-hidden="true"></span>
        <h4>Rock Solid Security</h4>
        <p>Our information stack is static with higher standards of security. Client-server topology systems like SQL/PHP based Joomla or
          Wordpress enables a larger area of attack through SQL injections and other known vulnerabilities. </p>
      </section>
      <section>
        <span class="fas fa-cloud fa-3x" aria-hidden="true"></span>
        <h4>Auto Backups</h4>
        <p>We make use of continuous delivery (CD) systems, including auto deployment too production for version management.
          If your website breaks, we run a one liner command to deploy the most recent working version.</p>
      </section>
      <section>
        <span class="fas fa-hammer fa-3x" aria-hidden="true"></span>
        <h4>Easy Maintenance</h4>
        <p>Hassle-free maintenance with focus on content creation;
          saving time for your community and business.</p>
      </section>
      <section>
        <span class="fas fa-shipping-fast fa-3x" aria-hidden="true"></span>
        <h4>Portability</h4>
        <p>No more infrastructure lock-in. You may host your pre-generated website with a wide array of hosting services. Easy pack up and unwrap for any hosting solution.</p>
      </section>
    </section>
  </div>
</section>

<!-- Two -->
<div class="wave-container">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#6c85ab" fill-opacity="1" d="M0,224L120,218.7C240,213,480,203,720,213.3C960,224,1200,256,1320,272L1440,288L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
  <section id="two" class="wrapper style3 special">
    <div class="inner">
      <header class="major">
        <h2>Technical Support</h2>
        <p>Solutions to your Technological Needs</p>
      </header>
      <section class="spotlights">
        <section>
          <span class="image"><img src="assets/images/hardware.webp" alt="Computer Hardware" /></span>
          <h4>Hardware</h4>
          <p>We build custom computers & do hardware repairs. Installing or upgrading components like a network card, motherboard, cabling, computer processing
            unit (CPU), printers and graphical processing unit (GPU). </p>
        </section>
        <section>
          <span class="image"><img src="assets/images/software.webp" alt="Computer Software Linux" /></span>
          <h4>Software</h4>
          <p>We work with Linux and Windows operating systems. A variety of common software issues we work on are: PC tune-ups, virus or trojans, system errors or blue screen, diagnostics and troubleshooting.
            We are available both remotely and locally. If we are unable to fix it, you will not be charged. </p>
        </section>
      </section>
    </div>
  </section>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#6c85ab" fill-opacity="1" d="M0,288L120,256C240,224,480,160,720,122.7C960,85,1200,75,1320,69.3L1440,64L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path></svg>
</div>

<!-- Three -->
<section id="three" class="wrapper style1 special">
  <div class="inner">
    <header class="major">
      <h2>Why Choose Us?</h2>
      <p>Service To Others</p>
    </header>
    <section class="features">
      <section>
        <span class="fas fa-cubes fa-3x" aria-hidden="true"></span>
        <h4>Innovative</h4>
        <p>Information Technology (IT) is always evolving and so do we. We pride ourselves in being modern, creative and malleable.</p>
      </section>
      <section>
        <span class="fas fa-user-tie fa-3x" aria-hidden="true"></span>
        <h4>Professional</h4>
        <p>Reliability and organization are an integral quality. We are proud to be of service.</p>
      </section>
      <section>
        <span class="fas fa-medal fa-3x" aria-hidden="true"></span>
        <h4>Excellence</h4>
        <p>We strive for excellence in all we do. Satisfaction of your needs comes first and the quality of our work exceeds expectations.</p>
      </section>
      <section>
        <span class="fas fa-heart fa-3x" aria-hidden="true"></span>
        <h4>Friendly</h4>
        <p>We are homegrown mountaineers that have a passion for technology. We are patient, professional and reliable.</p>
      </section>
    </section>
  </div>
</section>

<!-- Four -->
<div class="wave-container">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#b67e96" fill-opacity="1" d="M0,64L80,101.3C160,139,320,213,480,250.7C640,288,800,288,960,277.3C1120,267,1280,245,1360,234.7L1440,224L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>
  <section id="four" class="wrapper style4 special-alt">
    <div class="inner split">
      <section>
        <header class="major">
          <h2>Join The Movement</h2>
        </header>
        <p>Join our occasional newsletter for product launches, availability, job openings, and news.
          We provide value to communities and businesses in a friendly super awesome way.</p>
      </section>
      <div id="thank-you-message">Thank You! You have been added to our mailing list.</div>
      <form method="post" action="https://dash.sharpetronics.com/api/newsletters" id="newsletter-form" autocomplete="on">
        <label for="name" placeholder="Enter your Name">Name</label>
        <input type="text" id="name" name="name" />
        <label for="email" placeholder="Enter your Email">Email</label>
        <input type="email" id="email" name="email" />
        <ul class="actions">
          <button type="submit" value="create new email">Send</button>
        </ul>
      </form>
        
      <script>
        
        const formEl = document.querySelector('#newsletter-form');
        const thankYouMessage = document.querySelector('#thank-you-message');
        const newsletterForm = document.querySelector('#newsletter-form');
        
        formEl.addEventListener('submit', event => {
          event.preventDefault();
          
          // get data from newsletter-form
          const formData = new FormData(formEl);
          const data = Object.fromEntries(formData);

          // Clear all form fields
          event.target.reset();

          fetch('https://dash.sharpetronics.com/api/newsletters', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({data:data})
          }).then(res => res.json())
            .then(data => console.log(data))
            .catch (error => console.log(error));
            //window.alert("Thank You! You have been added to our mailing list.")
            // TODO: needs more error checking
            thankYouMessage.classList.add('show');
            newsletterForm.classList.add('hide');
        });
        
      </script>
    </div>
  </section>
</div>

<!-- Five -->
  <section id="five" class="wrapper style1 special alt">
    <div class="inner">
      <h4>A West Virginian Based Company</h4>
      <p>Montani Semper Liberi</p>
    </div>
  </section>
